# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.turbo/
coverage/

# expo
apps/mobile/.expo/
apps/mobile/.expo-shared/
apps/mobile/web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# misc
*.tsbuildinfo
